@font-face
{
  font-family: 'Cera Pro';
  src: url(Cera Pro Bold.otf);
}
body {
  font-family: Cera Pro;
}
nav {
  background: #34cfeb;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight:bold;
}
