@font-face
{
  font-family:Akira Expanded;
  src: url("Akira Expanded Demo.otf") format('opentype')
h1
{
  font-family:Akira Expanded;
  color:blue;
  text-align:center;
  text-transform:uppercase;
  
}
